# **Libraries and Dataset**

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('data/market_cluster.csv', encoding='latin1')

In [3]:
dataset.head()

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State,profit_margin,Cluster
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu,0.32,Medium
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu,0.20,Medium
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu,0.07,Low
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu,0.10,Low
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu,0.39,High

In [4]:
dataset['Customer Name'].unique()

array(['Harish', 'Sudha', 'Hussain', 'Jackson', 'Ridhesh', 'Adavan',
       'Jonas', 'Hafiz', 'Krithika', 'Ganesh', 'Yadav', 'Sharon', 'Peer',
       'Sundar', 'Ramesh', 'Alan', 'Arutra', 'Haseena', 'Verma', 'Muneer',
       'Veronica', 'Shah', 'Mathew', 'Akash', 'Anu', 'Sabeela', 'James',
       'Willams', 'Malik', 'Amrish', 'Vince', 'Suresh', 'Esther', 'Yusuf',
       'Komal', 'Veena', 'Shree', 'Roshan', 'Sudeep', 'Vinne', 'Vidya',
       'Arvind', 'Kumar', 'Amy', 'Ravi', 'Sheeba', 'Ram', 'Rumaiza',
       'Aditi', 'Surya'], dtype=object)

In [5]:
dataset['Category'].unique()

array(['Oil & Masala', 'Beverages', 'Food Grains', 'Fruits & Veggies',
       'Bakery', 'Snacks', 'Eggs, Meat & Fish'], dtype=object)

In [6]:
dataset['City'].unique()

array(['Vellore', 'Krishnagiri', 'Perambalur', 'Dharmapuri', 'Ooty',
       'Trichy', 'Ramanadhapuram', 'Tirunelveli', 'Chennai', 'Karur',
       'Namakkal', 'Dindigul', 'Kanyakumari', 'Bodi', 'Tenkasi',
       'Viluppuram', 'Madurai', 'Salem', 'Cumbum', 'Nagercoil',
       'Pudukottai', 'Theni', 'Coimbatore', 'Virudhunagar'], dtype=object)

In [7]:
dataset['Region'].unique()

array(['North', 'South', 'West', 'Central', 'East'], dtype=object)

In [12]:
dataset['Sales'].unique()

array([1254,  749, 2360, ..., 1679, 1582, 1162], dtype=int64)

In [10]:
dataset['Discount'].unique()

array([0.12, 0.18, 0.21, 0.25, 0.26, 0.33, 0.32, 0.23, 0.27, 0.13, 0.1 ,
       0.19, 0.22, 0.11, 0.28, 0.35, 0.29, 0.34, 0.17, 0.24, 0.16, 0.2 ,
       0.31, 0.3 , 0.15, 0.14])